.canvas {
    width: 800px;
    height: 450px;
    margin: auto;
    border-color: rgb(0, 75, 140);
    border-width: 20px;
    border-style: groove;
}

header {
    padding: 30px;
    background-color: honeydew;
}

.top , .bottom {
    width: 500px;
    margin: auto;
    text-align: center;
    font-size: 150%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #333;
}

footer {
    padding: 30px;
    background-color: honeydew;
}